.recommend .first {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  position: relative;
}
.recommend .first img:nth-child(1) {
  width: 100%;
  height: 100%;
}
.recommend .first img:nth-child(2) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.recommend .list {
  width: 100%;
  overflow: hidden;
}
.recommend .list li {
  width: 50%;
  float: left;
}
.recommend .list li img {
  width: 100%;
  height: 100%;
}
